body {
  background-color: grey;
  margin: 0;
  padding: 0;
}

#board {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#player {
  background: orange;
  position: absolute;
  /*width: 30vw;
  height: 10vh;
  bottom: 0;
  left: 0; ALL THIS GIVEN IN main.js player class*/
}

.obstacle {
  background-color: red;
  position: absolute;
  /*width: 20vw;
  height: 10vh; GIVEN IN main.js obstacle class*/
}

#page-gameover {
  text-align: center;
}
